@{ 
    Layout = "_Layout";
}

<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-md-8 mb-5">
            <h2>High Speed Wireless Internet</h2>
            <hr>
            <p>
               We are here to provide you with the latest and greatest in High Speed Wireless Connectivity!
            </p>
            <p>
                Whether you are at home, work, or play you can have internet all day
            </p>
            <a class="btn btn-primary btn-lg" href="#">Sign Up Now &raquo;</a>
        </div>
        <div class="col-md-4 mb-5">
            <h2>Contact Us</h2>
            <hr>
            <address>
                <strong>Land Sea Wireless</strong>                
            </address>
            <address>
                <abbr title="Phone">P:</abbr>
                (251) 533-6145
                <br>
                <abbr title="Email">E:</abbr>
                <a href="mailto:#">info@LandSeaWireless.com</a>
            </address>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img class="card-img-top" src="https://placehold.it/300x200" alt="">
                <div class="card-body">
                    <h4 class="card-title">Personalized Installation</h4>
                    <p class="card-text">You can order and install the wireless internet equipment yourself or have one of our trained techs complete the install for you..</p>
                </div>
                <div class="card-footer">
                    &nbsp;
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img class="card-img-top" src="https://placehold.it/300x200" alt="">
                <div class="card-body">
                    <h4 class="card-title">Experienced Staff</h4>
                    <p class="card-text">Our Sales, Tech Support and Installers are all highly trained and if dispatched will arrive at your location with Photo ID and the Proper Tools and Equipment to complete the job on the first visit and have you browsing using our wireless internet technology.</p>
                </div>
                <div class="card-footer">
                    &nbsp;
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img class="card-img-top" src="https://placehold.it/300x200" alt="">
                <div class="card-body">
                    <h4 class="card-title">Competitive Pricing</h4>
                    <p class="card-text">Our prices for comparable services are generally lower and more reliable than other internet service providers.</p>
                </div>
                <div class="card-footer">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
