<!-- Page Content -->
<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Residential</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title">Low Cost Fixed High Speed Internet</h1>
                <p>
                    You will enjoy streaming video, gaming, large file backups, access to today’s current generation of content providers such as HBO, Hulu, YouTube, Amazon and many others.
                    No need for wires just point the provided hardware toward our antenna and start browsing with high speed wireless internet .
                </p>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Business</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title">Fixed Wireless Internet</h1>
                <p>
                    Businesses will benefit from all the capabilities that come with traditional wired high speed internet access like Large File Transfer and Backups, Static IP's and a complete range of hardware sales, installation and tech support. We are a full service wireless internet service provider (WISP)
                </p>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Limitless Possibilities</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title">Point-to-Point Air Fiber</h1>
                <p>
                    Governments and utility companies operating equipment and instruments in remote areas will be able to take advantage of our wireless internet service by upgrading and expanding their capabilities that have been limited by slow or no connection.
                </p>
            </div>
        </div>
    </div>
</div>
