@model SignUpFormViewModel
@{
    Layout = "_Layout";

}
<link href="~/css/wizard.css" rel="stylesheet" />


<!-- Page Content -->
<main>
    <div id="content_container" class="container text-center">

        <!-- Notify User -->
        <div id="notifyUser" class="notify-user-container">
            <p id="notifyUserText" class="notify-user-text"></p>
        </div>

        <!-- Signup Wizard -->
        <form id="signup_wizard" class="container wizard" method="post">


            <fieldset class="container wizard_step">
                <!-- Wizard Step Title Container -->
                <header class="row wizard_step_title_container">
                    <!-- Wizard Step Title -->
                    <h2 id="wizard_step_title" class="col-12 wizard_step_title">
                        <!-- Step Title-->
                    </h2>
                </header>
                <!-- Wizard Step Info Container -->
                <div class="row wizard_step_info_container">
                    <!-- Wizard Step Info -->
                    <div id="wizard_step_info" class="col-12 wizard_step_info">
                        <!-- Step Info -->
                    </div>
                </div>
                <!-- Wizard Step Content Container -->
                <div class="row wizard_step_content_container">
                    <!-- Wizard Step Content -->
                    <div id="wizard_step_content" class="col-12 wizard_step_content">
                        <!-- Step Content -->                        
                    </div>
                </div>
                <!-- Wizard Step Navigation Container -->
                <footer class="row wizard_step_navigation_container">
                    <!-- Wizard Step Help Link -->
                    <div id="wizard_step_help" class="col-6 wizard_step_help">
                        <!-- Help Link -->
                        
                    </div>
                    <!-- Wizard Step Navigation -->
                    <nav id="wizard_step_nav" class="col-6 wizard_step_navigation">
                        <!-- Nav Here -->
                    </nav>
                </footer>
            </fieldset>
            <!-- End Wizard Step -->
        </form>

    </div>
</main>

@section Scripts
{
    <script type="text/javascript" src="~/js/wizard.js"></script>

    <script type="text/javascript">


        // #region iife
        let $title = $('#wizard_step_title');
        let $content = $('#wizard_step_content');
        let $nav = $('#wizard_step_nav');

        let $currentStep = 0;
        let $wizard = $('.wizard');
        let $nextButton = $('.wizard_step_nav_next');
        let $backButton = $('.wizard_step_nav_prev');
        let $doneButton = $('.wizard_step_nav_done');

        let $stepInfo = $('#wizard_step_info');
        
        $(function () {

            setStep($currentStep);           

        });

        function setStep($stepIndex) {

            $step = steps[$stepIndex];
            $title.text($step.title);
            $content.load($step.view);
            $nav.html($step.nav);

            $stepInfo.html(tempInfoText);

                               
        }

        function prev() {
            $currentStep--;
            setStep($currentStep);
            return false;
        }

        function next() {
            $currentStep++;
            setStep($currentStep);
            return false;
        }

        function done() {
            alert('done');
            return false;
        }
// #endregion

    </script>
}