@model SignUpFormViewModel

<link href="~/css/wizard.css" rel="stylesheet" />


<!-- Page Content -->
<main>
    <div class="container text-center">

        <!-- Signup Wizard -->
        <form id="signup_wizard" class="container wizard" asp-action="SignUp" asp-controller="Home" data-ajax="true" data-ajax-method="POST">

            <!-- Wizard Step 1: Create Account -->
            <fieldset id="wizard_step_1" class="container wizard_step">
                <!-- Wizard Step Title Container -->
                <header class="row wizard_step_title_container">
                    <!-- Wizard Step Title -->
                    <h2 class="col-10 offset-2 wizard_step_title">
                        Step 1: Create Your User Account
                    </h2>
                </header>
                <!-- Wizard Step Content Container -->
                <div class="row wizard_step_content_container">
                    <!-- Wizard Step Content -->
                    <fieldset class="col-10 offset-2 wizard_step_content">
                        <div class="form-group row">
                            <label for="txtUsername" class="col-sm-2 col-form-label">Username</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtUsername" asp-for="Username" placeholder="Username" />                                
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="txtPassword" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="txtPassword" asp-for="Password" placeholder="Password" />
                            </div>
                        </div>
                    </fieldset>
                </div>
                <!-- Wizard Step Navigation Container -->
                <footer class="row wizard_step_navigation_container">
                    <!-- Wizard Step Navigation -->
                    <nav class="col-10 offset-2 wizard_step_navigation">
                       
                        <a id="wizard_step_1_nav_next" class="wizard_step_nav wizard_step_nav_next" href="#">
                            Next >>
                        </a>

                    </nav>
                </footer>
            </fieldset>
            <!-- End Wizard Step -->


            <!-- Wizard Step 2: Client Type -->
            <fieldset id="wizard_step_2" class="container wizard_step">
                <!-- Wizard Step Title Container -->
                <header class="row wizard_step_title_container">
                    <!-- Wizard Step Title -->
                    <h2 class="col-10 offset-2 pl-4 wizard_step_title">
                        Step 2: I Am...
                    </h2>
                </header>
                <!-- Wizard Step Content Container -->
                <div class="row wizard_step_content_container">
                    <!-- Wizard Step Content -->
                    <div class="col-sm-10 offset-2 wizard_step_content">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="rbClientType" id="rbPerson" value="person">
                            <label class="form-check-label" for="rbPerson">
                                A Person
                            </label>
                        </div>
                        <br />
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="rbClientType" id="rbCompany" value="company">
                            <label class="form-check-label" for="rbCompany">
                                A Company
                            </label>
                        </div>
                        <!-- Hidden Field For Client Type -->
                        <input type="hidden" id="hfClientType" name="hfClientType" asp-for="ClientType" />
                    </div>
                </div>
                <!-- Wizard Step Navigation Container -->
                <footer class="row wizard_step_navigation_container">
                    <!-- Wizard Step Navigation -->
                    <nav class="col-10 offset-2 wizard_step_navigation">

                        <a id="wizard_step_2_nav_prev" class="wizard_step_nav wizard_step_nav_prev" href="#">
                            << Prev
                        </a>

                        &nbsp;&nbsp;|&nbsp;&nbsp;

                        <a id="wizard_step_2_nav_next" class="wizard_step_nav wizard_step_nav_next" href="#">
                            Next >>
                        </a>

                    </nav>
                </footer>
            </fieldset>
            <!-- End Wizard Step -->


            <!-- Wizard Step 3: Contact Info -->
            <fieldset id="wizard_step_3" class="container wizard_step">
                <!-- Wizard Step Title Container -->
                <header class="row wizard_step_title_container">
                    <!-- Wizard Step Title -->
                    <h2 class="col-10 offset-2 wizard_step_title">
                        Step 3: Provide Contact Info
                    </h2>
                </header>
                <!-- Wizard Step Content Container -->
                <div class="row wizard_step_content_container">
                    <!-- Wizard Step Content -->
                    <fieldset class="col-10 offset-2 wizard_step_content">
                        <div class="form-group row">
                            <label for="txtFirstName" class="col-sm-2 col-form-label">First Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtFirstName" placeholder="John" asp-for="FirstName" />                               
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="txtLastName" class="col-sm-2 col-form-label">Last Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtLastName" placeholder="Doe" asp-for="LastName" />                                
                            </div>                            
                        </div>
                        <div class="form-group row">
                            <label for="txtEmail" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="txtEmail" placeholder="yourname@domain.com" asp-for="Email" />                                
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="txtPhone" class="col-sm-2 col-form-label">Phone</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtPhone" placeholder="(123) 456-7890" asp-for="Phone" />                                
                            </div>                            
                        </div>
                    </fieldset>
                </div>
                <!-- Wizard Step Navigation Container -->
                <footer class="row wizard_step_navigation_container">
                    <!-- Wizard Step Navigation -->
                    <nav class="col-10 offset-2 wizard_step_navigation">

                        <a id="wizard_step_3_nav_prev" class="wizard_step_nav wizard_step_nav_prev" href="#">
                            << Prev
                        </a>

                        &nbsp;&nbsp;|&nbsp;&nbsp;

                        <a id="wizard_step_3_nav_next" class="wizard_step_nav wizard_step_nav_next" href="#">
                            Next >>
                        </a>

                    </nav>
                </footer>
            </fieldset>
            <!-- End Wizard Step -->

            <!-- Wizard Step 4: Installation Address -->
            <fieldset id="wizard_step_4" class="container wizard_step">
                <!-- Wizard Step Title Container -->
                <header class="row wizard_step_title_container">
                    <!-- Wizard Step Title -->
                    <h2 class="col-10 offset-2 wizard_step_title">
                        Step 4: Where Do We Install the Service?
                    </h2>
                </header>
                <!-- Wizard Step Content Container -->
                <div class="row wizard_step_content_container">
                    <!-- Wizard Step Content -->
                    <fieldset class="col-10 offset-2 wizard_step_content">

                        <div class="form-group row">
                            <h3 class="text-info">Physical Address of the service installation.</h3>
                        </div>

                        <div class="form-group row">
                            <label for="txtInstallAddress" class="col-sm-2 col-form-label">Address</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtInstallAddress" placeholder="123 Any Street" asp-for="InstallAddress.Address1" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="txtInstallCity" class="col-sm-2 col-form-label">City</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtInstallCity" placeholder="New York" asp-for="InstallAddress.City" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="ddlInstallState" class="col-sm-2 col-form-label">State</label>
                            <div class="col-sm-10">
                                <select id="ddlInstallState" asp-for="InstallAddress.State" asp-items="Html.GetEnumSelectList<DCoreyDuke.CodeBase.Objects.State>()">
                                    <option selected="selected" value="">-- Please Select --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="txtInstallZip" class="col-sm-2 col-form-label">Zip</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtInstallZip" placeholder="12345" asp-for="InstallAddress.Zip" />
                            </div>
                        </div>

                    </fieldset>
                </div>

                <!-- Wizard Step Navigation Container -->
                <footer class="row wizard_step_navigation_container">
                    <!-- Wizard Step Navigation -->
                    <nav class="col-10 offset-2 wizard_step_navigation">

                        <a id="wizard_step_4_nav_prev" class="wizard_step_nav wizard_step_nav_prev" href="#">
                            << Prev
                        </a>

                        &nbsp;&nbsp;|&nbsp;&nbsp;

                        <a id="wizard_step_4_nav_next" class="wizard_step_nav wizard_step_nav_next" href="#">
                            Next >>
                        </a>

                    </nav>
                </footer>
            </fieldset>
            <!-- End Wizard Step -->

            <!-- Wizard Step 5: Sevice Plan -->
            <fieldset id="wizard_step_5" class="container wizard_step">
                <!-- Wizard Step Title Container -->
                <header class="row wizard_step_title_container">
                    <!-- Wizard Step Title -->
                    <h2 class="col-10 offset-2 wizard_step_title">
                        Step 5: Pick your Wireless Internet Service Plan
                    </h2>
                </header>
                <!-- Wizard Step Content Container -->
                <div class="row wizard_step_content_container">
                    <!-- Wizard Step Content -->
                    <fieldset class="col-10 offset-2 wizard_step_content">
                        <table>
                            <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>Plan</th>
                                    <th>Price</th>
                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="checkbox" />
                                    </td>
                                    <td>
                                        Basic 5
                                    </td>
                                    <td>
                                        $39.99 / mo
                                    </td>
                                    <td>
                                        5 Mb/s Internet Access
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" />
                                    </td>
                                    <td>
                                        Standard 10
                                    </td>
                                    <td>
                                        $49.99 / mo
                                    </td>
                                    <td>
                                        10 Mb/s Internet Access
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" />
                                    </td>
                                    <td>
                                        Premium 15
                                    </td>
                                    <td>
                                        $79.99 / mo
                                    </td>
                                    <td>
                                        15 Mb/s Internet Access
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" />
                                    </td>
                                    <td>
                                        Gateway 25
                                    </td>
                                    <td>
                                        $99.99 / mo
                                    </td>
                                    <td>
                                        25 Mb/s Internet Access
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" />
                                    </td>
                                    <td>
                                        Corporate Gateway
                                    </td>
                                    <td>
                                        $199.99 / mo
                                    </td>
                                    <td>
                                        Corporate Gateway Access
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </div>
                <!-- Wizard Step Navigation Container -->
                <footer class="row wizard_step_navigation_container">
                    <!-- Wizard Step Navigation -->
                    <nav class="col-10 offset-2 wizard_step_navigation">

                        <a id="wizard_step_5_nav_prev" class="wizard_step_nav wizard_step_nav_prev" href="#">
                            << Prev
                        </a>

                        &nbsp;&nbsp;|&nbsp;&nbsp;

                        <a id="wizard_step_5_nav_next" class="wizard_step_nav wizard_step_nav_next" href="#">
                            Next >>
                        </a>

                    </nav>
                </footer>
            </fieldset>
            <!-- End Wizard Step -->

            <!-- Wizard Step 6: Professional Installation-->
            <fieldset id="wizard_step_6" class="container wizard_step">
                <!-- Wizard Step Title Container -->
                <header class="row wizard_step_title_container">
                    <!-- Wizard Step Title -->
                    <h2 class="col-10 offset-2 wizard_step_title">
                        Step 6: Do You Want Professional Installation?
                    </h2>
                </header>
                <!-- Wizard Step Content Container -->
                <div class="row wizard_step_content_container">
                    <!-- Wizard Step Content -->
                    <fieldset class="col-10 offset-2 wizard_step_content">

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                            <label class="form-check-label" for="exampleRadios1">
                                Yes (Adds $129 to Total)
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                                No
                            </label>
                        </div>

                        <br />

                        <a href="#">Help Me Decide</a>

                    </fieldset>
                </div>
                <!-- Wizard Step Navigation Container -->
                <footer class="row wizard_step_navigation_container">
                    <!-- Wizard Step Navigation -->
                    <nav class="col-10 offset-2 wizard_step_navigation">

                        <a id="wizard_step_6_nav_prev" class="wizard_step_nav wizard_step_nav_prev" href="#">
                            << Prev
                        </a>

                        &nbsp;&nbsp;|&nbsp;&nbsp;

                        <a id="wizard_step_6_nav_next" class="wizard_step_nav wizard_step_nav_next" href="#">
                            Next >>
                        </a>

                    </nav>
                </footer>
            </fieldset>
            <!-- End Wizard Step -->

            <!-- Wizard Step 7: Product List -->
            <fieldset id="wizard_step_7" class="container wizard_step">
                <!-- Wizard Step Title Container -->
                <header class="row wizard_step_title_container">
                    <!-- Wizard Step Title -->
                    <h2 class="col-10 offset-2 wizard_step_title">
                        Step 7: Hardware Requirements
                    </h2>
                </header>
                <!-- Wizard Step Content Container -->
                <div class="row wizard_step_content_container">
                    <!-- Wizard Step Content -->
                    <fieldset class="col-10 offset-2 wizard_step_content">

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
                            <label class="form-check-label" for="inlineRadio1">Buy</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
                            <label class="form-check-label" for="inlineRadio2">Lease</label>
                        </div>

                        <br />

                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        &nbsp;
                                    </th>
                                    <th>
                                        Product
                                    </th>
                                    <th>
                                        Price
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="checkbox" />
                                    </td>
                                    <td>
                                        <a href="#">
                                            airMAX LiteBeam 5AC Subscriber Antenna 10km+
                                        </a>
                                    </td>
                                    <td>
                                        $99 / mo
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" />
                                    </td>
                                    <td>
                                        <a href="#">
                                            airMAX LiteBeam 5AC Subscriber Antenna 15km+
                                        </a>
                                    </td>
                                    <td>
                                        $65 / mo
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" />
                                    </td>
                                    <td>
                                        <a href="#">
                                            airMAX LiteBeam 5AC Subscriber Antenna 25km+
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#">
                                            $109 / mo
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" />
                                    </td>
                                    <td>
                                        <a href="#">
                                            airMAX LiteBeam 5AC Subscriber Antenna 30km+
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#">
                                            $119 / mo
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" />
                                    </td>
                                    <td>
                                        <a href="#">
                                            WiFi Router
                                        </a>
                                    </td>
                                    <td>
                                        $5 / mo
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </fieldset>
                </div>
                <!-- Wizard Step Navigation Container -->
                <footer class="row wizard_step_navigation_container">
                    <!-- Wizard Step Navigation -->
                    <nav class="col-10 offset-2 wizard_step_navigation">

                        <a id="wizard_step_7_nav_prev" class="wizard_step_nav wizard_step_nav_prev" href="#">
                            << Prev
                        </a>

                        &nbsp;&nbsp;|&nbsp;&nbsp;

                        <a id="wizard_step_7_nav_next" class="wizard_step_nav wizard_step_nav_next" href="#">
                            Next >>
                        </a>

                    </nav>
                </footer>
            </fieldset>
            <!-- End Wizard Step -->

            <!-- Wizard Step 8: Credit Card -->
            <fieldset id="wizard_step_8" class="container wizard_step">
                <!-- Wizard Step Title Container -->
                <header class="row wizard_step_title_container">
                    <!-- Wizard Step Title -->
                    <h2 class="col-10 offset-2 wizard_step_title">
                        Step 8: Enter Your Payment Info
                    </h2>
                </header>
                <!-- Wizard Step Content Container -->
                <div class="row wizard_step_content_container">
                    <!-- Wizard Step Content -->
                    <fieldset class="col-10 offset-2 wizard_step_content">

                        <div class="form-group row">
                            <h3 class="text-info">Billing Address (on Credit Card)</h3>
                        </div>

                        <div class="form-group row">
                            <label for="txtBillingAddress" class="col-sm-2 col-form-label">Address</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtBillingAddress" placeholder="123 Any Street" asp-for="BillingAddress.Address1" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="txtBillingCity" class="col-sm-2 col-form-label">City</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtBillingCity" placeholder="New York" asp-for="BillingAddress.City" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="ddlBillingState" class="col-sm-2 col-form-label">State</label>
                            <div class="col-sm-10">
                                <select id="ddlBillingState" asp-for="BillingAddress.State" asp-items="Html.GetEnumSelectList<DCoreyDuke.CodeBase.Objects.State>()">
                                    <option selected="selected" value="">-- Please Select --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="txtBillingZip" class="col-sm-2 col-form-label">Zip</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtBillingZip" placeholder="12345" asp-for="BillingAddress.Zip" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">CC Info:</label>
                            <div class="col-sm-10" style="text-align:center;">
                                <input type="text" class="form-control" id="txtCCN" placeholder="XXXX-XXXX-XXXX-XXXX" style="width:40%;float:left;">
                                <input type="text" class="form-control" id="txtCCV" placeholder="xxx" style="width:10%;float:left;">
                                <input type="date" class="form-control" id="txtCCE" style="width:40%;float:left;">
                            </div>
                        </div>
                    </fieldset>
                </div>
                <!-- Wizard Step Navigation Container -->
                <footer class="row wizard_step_navigation_container">
                    <!-- Wizard Step Navigation -->
                    <nav class="col-10 offset-2 wizard_step_navigation">

                        <a id="wizard_step_8_nav_prev" class="wizard_step_nav wizard_step_nav_prev" href="#">
                            << Prev
                        </a>

                        &nbsp;&nbsp;|&nbsp;&nbsp;

                        <a id="wizard_step_8_nav_next" class="wizard_step_nav wizard_step_nav_done" href="#">
                            Done
                        </a>

                    </nav>
                </footer>
            </fieldset>
            <!-- End Wizard Step -->
        </form>
    </div>
</main>

@section Scripts
{

    <script src="~/js/wizard.js"></script>
}