@model SignUpFormViewModel
@{
    Layout = "_Layout";

}
<link href="~/css/wizard.css" rel="stylesheet" />


<!-- Page Content -->
<main>
    <div id="content_container" class="container text-center">

        <!-- Load Content Here -->
        
    </div>
</main>

@section Scripts
{
    <script src="~/js/wizard.js"></script>
}