/* wizard.css - for wizard component styles */


/* ----- Wrappers ----- */
.no-border{
    border:none;
}
/* -- Defaults for Wizard Components -- */
.wizard_wrapper {
    font-weight: 500;
    color: rgba(5, 5, 5, 0.92);
    letter-spacing: normal;
    font-size: 14px; /*Set Base Font Size for Wizard (1em = 14) */
    width:50vh;
    padding:1rem;   
    z-index:5;
}

/* -- Defaults for Each Step Component -- */
.wizard_step_wrapper{
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    letter-spacing: inherit;
    font-size: inherit;
    width:inherit;
    background-color:rgba(255, 255, 255, 0.98);
    z-index:6;
}

/* -- Defaults for Each Title Component -- */
.wizard_step_title_wrapper {    
    width:inherit;
    
    font-weight: bolder;   
    letter-spacing: .5rem;
    font-size: 1rem;
    z-index:7;
}

/* -- Defaults for Each Info Component -- */
.wizard_step_info_wrapper {
    width:inherit;
   
    font-weight: normal;    
    letter-spacing: .25rem;
    z-index:7;
}

/* -- Defaults for Each Content Component -- */
.wizard_step_content_wrapper {
    width:inherit;
   
    font-weight: normal;    
    letter-spacing: .125rem;
    font-size: .75rem;
    z-index:7;
    display:flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    height:auto;
    align-items: flex-start;
}


/* -- Defaults for Each Navigation Component -- */
.wizard_step_navigation_wrapper{
    width:inherit;
      
    text-align:right;
    font-weight: normal;   
    letter-spacing: .25rem;
    font-size: 1.25rem;
    z-index:7;
}

/* ----- End Wrappers ----- */


/* ----- Elements ----- */


/* ----- Wizard Step Title Elements ----- */
.wizard_step_title{ /* h2 */
    width:98%;
    height:auto;
    margin:1rem auto;
    text-align:left;
    color:rgba(5, 5, 5, 0.92);
    z-index:8;
    font-size:1.88rem;
}
/* ----- End Wizard Step Title Elements ----- */

/* ----- Wizard Step Info Elements ----- */
.wizard_step_info_header { /* h2 */
    width: 88%;
    text-align: left;
    margin: .25rem auto;
    font-size: .88em;
    color: rgba(5, 5, 5, 0.88);
    z-index:8;
}
.wizard_step_info_p { /* p */
    width: 88%;
    text-align: left;
    margin: .25rem auto;
    font-size: 0.75em;
    color: rgba(5, 5, 5, 0.75);
    z-index:8;
}
/* ----- End Wizard Step Info Elements ----- */

/* ----- Wizard Step Content Elements ----- */

.element {
    margin-bottom: .25rem;
    color: rgba(5, 5, 5, 0.88);
    z-index:8;
}

.form-control {
    margin-bottom: .25rem;
    color: rgba(5, 5, 5, 0.88);
    z-index:8;
    border:0;
}
.form-control::after{
    content: "\a";
    white-space: pre;
}

.val {
    font-size: .67rem;
    color: rgba(254, 0, 0, 0.75);
    padding: 1px;
    margin: .50rem;
    margin: .50rem 0px;
    width: 98%;
    text-align: left;
}

.info {
    font-size: .67rem;
    color: rgba(5, 5, 5, 0.75);
    padding: 1px;
    margin: .50rem 0px;
    width:98%;
    text-align:left;
}

.highlight-red {
    border: 1px solid red !important;
}

.highlight-yellow {
    border: 1px solid yellow !important;
}

/* Label for Finish Step */
.finish-label {
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.75);
  
    width: 25vw;
    text-align: left;
    z-index:8;
}
.finish-info {
    font-size: 1.1rem;
    color: rgba(0, 254, 0, 0.75);
   
    width: 25vw;
    text-align: left;
    z-index:8;
}
.finish-req {
    font-size: 1.1rem;
    color: rgba(254, 0, 0, 0.75);
    
    width: 25vw;
    text-align: left;
    z-index:8;
}
/* End Label for Finish Step */

/* ----- End Wizard Step Content Elements ----- */

/* ----- Wizard Step Navigation Elements ----- */

.wizard_step_nav{
    margin:2rem;
}


/* ----- End Wizard Step Navigation Elements ----- */

/* ----- End Elements ----- */






  














