

.wizard{
    text-align:center;
    vertical-align:middle;
    background:transparent;
    color:rgba(5, 5, 5, 0.98);
    font-family: 'Roboto', sans-serif;
}
.wizard_step{
    padding:1em;
    text-align:center;
    margin:1em;
}
.wizard_step_title_container {
    height: auto;
    padding: 2px;
    margin: 0px;
    background-color:#fcfcfc;
    text-align:left;
}
.wizard_step_title {
    font-size: 1.25em;
    font-family: 'Lato', sans-serif;
    width: 98%;
    text-align: left;
    font-weight: bolder;
    color: rgba(5, 5, 5, 0.99);
}

.wizard_step_info_container {
    height: auto;
    padding: .25rem;
    margin:0px;
    background-color: #fdfdfd;
    text-align: left;
}

.wizard_step_info {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}
    .wizard_step_info h2 {
        width: 98%;
        text-align: left;
        padding-left: 0%;
        margin:1%;
        color: rgba(5, 5, 5, 0.97);
        font-size:1.0em;
    }
    .wizard_step_info p {
        width: 98%;
        text-align: left;
        padding-left: 0%;
        margin: 1%;
        color: rgba(5, 5, 5, 0.96);
        font-size: 0.85em;
    }

.wizard_step_content_container {
    height: auto;
    padding: 2px;
    margin: 0px;
    background-color: #fFf;
    text-align: center;
}
.wizard_step_content {
    font-size: 1.25em;
    font-family: 'Roboto', sans-serif;
    width: 98%;
    text-align: left;
    font-weight:500;
}
.wizard_step_navigation_container {
    height: auto;
    padding: 2px;
    margin: 0px;
    background-color: #fff;
    text-align: center;
}


.wizard_step_navigation{
    text-align:right;
    padding-right:2em;
}
.wizard_step_nav{
    font-size:1.125em;    
    text-decoration: none;
    font-family:'Lato', sans-serif;
}
    .wizard_step_nav, .wizard_step_nav:active, .wizard_step_nav:link, .wizard_step_nav:visited{
        color:rgba(25, 25, 255, 0.97);
    }
.wizard_step_nav:hover{
    color:silver;
}

.wizard_step_nav_done, .wizard_step_nav_done:active, .wizard_step_nav_done:link, .wizard_step_nav_done:visited, .wizard_step_nav_done:hover{
    color: rgba(0, 255, 0, 0.98);
}

.form-control {
    margin-bottom: .25rem;
}

.val {
    font-size: .67rem;
    color: rgba(254, 0, 0, 0.75);
    padding: 1px;
    margin: .50rem;
    margin: .50rem 0px;
    width: 98%;
    text-align: left;
}

.info {
    font-size: .67rem;
    color: rgba(234, 234, 234, 0.75);
    padding: 1px;
    margin: .50rem 0px;
    width:98%;
    text-align:left;
}

.highlight-red {
    border: 1px solid red !important;
}

.highlight-yellow {
    border: 1px solid yellow !important;
}

wizard_step_content_partial_view_wrapper {
    margin: 0px;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
    color: rgba(5, 5, 5, 0.94);
    background-color:transparent;
    border: .125rem solid rgba(5, 5, 5, 0.88);
}