
<!--
    Wizard Step 1 : Select Client Type
-->

<div class="wizard_step_content_partial_view_wrapper">

    <div class="form-check">
        <input class="form-check-input" type="radio" name="rbClientType" id="rbPerson" value="person">
        <label class="form-check-label" for="rbPerson">
            A Person
        </label>
    </div>
    <br />
    <div class="form-check">
        <input class="form-check-input" type="radio" name="rbClientType" id="rbCompany" value="company">
        <label class="form-check-label" for="rbCompany">
            A Company
        </label>
    </div>

</div>