@model ClientTypeViewModel
<!-- Wizard Step 2: Client Type -->
<fieldset id="wizard_step_2" class="container wizard_step">
    <!-- Wizard Step Title Container -->
    <header class="row wizard_step_title_container">
        <!-- Wizard Step Title -->
        <h2 class="col-10 offset-2 pl-4 wizard_step_title">
            Step 2: I Am...
        </h2>
    </header>
    <!-- Wizard Step Content Container -->
    <div class="row wizard_step_content_container">
        <!-- Wizard Step Content -->
        <div class="col-sm-10 offset-2 wizard_step_content">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="rbClientType" id="rbPerson" value="person">
                <label class="form-check-label" for="rbPerson">
                    A Person
                </label>
            </div>
            <br />
            <div class="form-check">
                <input class="form-check-input" type="radio" name="rbClientType" id="rbCompany" value="company">
                <label class="form-check-label" for="rbCompany">
                    A Company
                </label>
            </div>
            <!-- Hidden Field For Client Type -->
            <input type="hidden" id="hfClientType" name="hfClientType" asp-for="ClientType" />
        </div>
    </div>
    <!-- Wizard Step Navigation Container -->
    <footer class="row wizard_step_navigation_container">
        <!-- Wizard Step Navigation -->
        <nav class="col-10 offset-2 wizard_step_navigation">

            <a id="wizard_step_2_nav_prev" class="wizard_step_nav wizard_step_nav_prev" href="#">
                << Prev
            </a>

            &nbsp;&nbsp;|&nbsp;&nbsp;

            <a id="wizard_step_2_nav_next" class="wizard_step_nav wizard_step_nav_next" href="#">
                Next >>
            </a>

        </nav>
    </footer>
</fieldset>
<!-- End Wizard Step -->