@model ProfessionalInstallationViewModel
    <!-- Wizard Step 6: Professional Installation-->
    <fieldset id="wizard_step_6" class="container wizard_step">
        <!-- Wizard Step Title Container -->
        <header class="row wizard_step_title_container">
            <!-- Wizard Step Title -->
            <h2 class="col-10 offset-2 wizard_step_title">
                Step 6: Do You Want Professional Installation?
            </h2>
        </header>
        <!-- Wizard Step Content Container -->
        <div class="row wizard_step_content_container">
            <!-- Wizard Step Content -->
            <fieldset class="col-10 offset-2 wizard_step_content">

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                    <label class="form-check-label" for="exampleRadios1">
                        Yes (Adds $129 to Total)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        No
                    </label>
                </div>

                <br />

                <a href="#">Help Me Decide</a>

            </fieldset>
        </div>
        <!-- Wizard Step Navigation Container -->
        <footer class="row wizard_step_navigation_container">
            <!-- Wizard Step Navigation -->
            <nav class="col-10 offset-2 wizard_step_navigation">

                <a id="wizard_step_6_nav_prev" class="wizard_step_nav wizard_step_nav_prev" href="#">
                    << Prev
                </a>

                &nbsp;&nbsp;|&nbsp;&nbsp;

                <a id="wizard_step_6_nav_next" class="wizard_step_nav wizard_step_nav_next" href="#">
                    Next >>
                </a>

            </nav>
        </footer>
    </fieldset>
    <!-- End Wizard Step -->