@model ServicePlanViewModel


    <table>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Plan</th>
                <th>Price</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="checkbox" />
                </td>
                <td>
                    Basic 5
                </td>
                <td>
                    $39.99 / mo
                </td>
                <td>
                    5 Mb/s Internet Access
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" />
                </td>
                <td>
                    Standard 10
                </td>
                <td>
                    $49.99 / mo
                </td>
                <td>
                    10 Mb/s Internet Access
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" />
                </td>
                <td>
                    Premium 15
                </td>
                <td>
                    $79.99 / mo
                </td>
                <td>
                    15 Mb/s Internet Access
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" />
                </td>
                <td>
                    Gateway 25
                </td>
                <td>
                    $99.99 / mo
                </td>
                <td>
                    25 Mb/s Internet Access
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" />
                </td>
                <td>
                    Corporate Gateway
                </td>
                <td>
                    $199.99 / mo
                </td>
                <td>
                    Corporate Gateway Access
                </td>
            </tr>
        </tbody>
    </table>