@model SignUpFormViewModel

    

<!-- Signup Wizard -->
<form id="signup_wizard" class="container wizard" asp-action="SignUp" asp-controller="Home" data-ajax="true" data-ajax-method="POST">

   
   
    
   
   
   

   
</form>
